---
import Layout from '../layouts/Layout.astro';
import FeatureCard from '../components/FeatureCard.astro';
import Hero from '../components/Hero.astro';
import LatestPosts from '../components/LatestPosts.astro';
import { features } from '../utils/constant';
import Intro from '../components/Intro.astro'
---

<Layout title="Tu guía al hogar inteligente">
  <main>
    <Hero />
    <Intro />
    <section id="main" class="features py-16 px-4">
      <div class="max-w-6xl mx-auto">
        <h2 class="text-3xl font-bold text-center mb-12 text-gray-100">¡Conócenos!</h2>
        <div class="grid md:grid-cols-3 gap-8">
          {features.map(feature => (
            <FeatureCard {...feature} />
          ))}
        </div>
      </div>
    </section>
    <h2 class="text-3xl font-bold text-center mb-12 text-gradient">Explora el Mundo de la Domótica</h2>
    <LatestPosts />
  </main>
</Layout>

<style>
  .text-gradient {
    background: linear-gradient(to right, #22d3ee, #818cf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
</style>