<section id="intro" class="flex flex-1 flex-col justify-center items-center gap-10">
  <h2 class="text-gray-100 text-3xl font-bold text-center">Lo que ofrecemos</h2>
  <div class="grid grid-cols-3 w-[80%] gap-10">
    <span class="text-gray-300 font-normal text-pretty text-xl"
      >Soluciones inteligentes para hogares urbanos: eficiencia energética y
      comodidad en un solo sistema</span
    >
    <span class="text-gray-300 font-thin text-pretty text-xl"
      >La domótica como respuesta al costo creciente de energía y la
      urbanización acelerada</span
    >
    <span class="text-gray-300 font-normal text-pretty text-xl"
      >Optimización de hogares en Bogotá con sistemas domóticos seguros e
      interoperables</span
    >
    <span class="text-gray-300 font-thin text-pretty text-xl"
      >Interoperabilidad en domótica: dispositivos trabajando juntos para
      ahorrar energía y mejorar la calidad de vida</span
    >
    <span class="text-gray-300 font-thin text-pretty text-xl"
      >Análisis y recomendaciones para implementar domótica accesible y
      eficiente en hogares urbanos</span
    >
    <span class="text-gray-300 font-thin text-pretty text-xl"
      >Reducir su consumo energético y la huella de carbono a través de la
      automatización del hogar</span
    >
  </div>
</section>
